<h5>New Category Form</h5>
<form action="/api/categories" method="post">
	<input type="hidden" name="category_user" placeholder="Your name please" value="<%= currentUser.username %>">

	<label for="category_label">Category</label>
	<input 
		type="text" 
		name="category_label" 
		placeholder="Enter a category"
		required>

	<input type="submit"><br>
</form>