<h1>new effort</h1>
<form action="/api/effort" method="post">
	Hours:<br>
		<input type="number" name="effort_hours" placeholder="1"><br>
	Minutes:<br>
		<input type="number" name="effort_minutes" placeholder="15"><br>
	Item:<br>
		<input type="text" name="effort_item" placeholder="enter an item"><br>
	User:<br>
		<%if(!currentUser) {%>
		<input type="text" name="effort_user" placeholder="Your name please"><br>
	<% } else { %>
		<input type="text" name="effort_user" placeholder="Your name please" value="<%= currentUser.username %>"><br>
	<% } %>	
	<input type="submit"><br>
</form>