<h1>new item</h1>
<form action="/api/items" method="post">

    <div class="row">
    	    <div class="six columns">
				<label for="labelInput">Item</label>
				<input class="u-full-width" type="text" name="item_label" placeholder="enter an item" id="labelInput"><br>
			</div>
		    <div class="six columns">
        		<label for="categorySelect">Select Category</label>
				<select class="u-full-width" name="item_category" id="categorySelect">
				<% for(var i = 0; i < categories.length; i++) { %>
		  		<option value="<%= categories[i].label %>"><%= categories[i].label %></option>
        		<% } %>
     		</div>   
		</div>
		<input type="hidden" name="item_user" placeholder="Your name please" value="<%= currentUser.username %>"><br>
	<input type="submit"><br>
</form>