<h1>new relevance</h1>
<form action="/api/categories" method="post">
	Value:<br>
		<input type="number" name="relevance_value" placeholder="1"><br>
	Item:<br>
		<input type="text" name="relevance_item" placeholder="enter an item"><br>
	User:<br>
		<%if(!currentUser) {%>
		<input type="text" name="relevance_user" placeholder="Your name please"><br>
	<% } else { %>
		<input type="text" name="relevance_user" placeholder="Your name please" value="<%= currentUser.username %>"><br>
	<% } %>	
	<input type="submit"><br>
</form>