<div id="relevancesDataCollection" style="display: none;">
<% if(typeof relevances !== 'undefined') { %>
	<% for(var i = 0; i < relevances.length; i++) { %>
		<span class="relevanceData">
			<%= relevances[i].key %>:<%= relevances[i].value %>
		</span>
		<span id="<%= relevances[i].key %>_key"><%= relevances[i].value %></span>
	<% } %>
<% } %>
</div>
<script>getRelevancesFromFooter()</script>