<button 
	id="setupButton" 
	onclick="window.location='/items/'" 
	class="button-overlay primary fixed bottom left"
	>
	
	Setup
</button>

<script>
	var loc = window.location.href.slice(window.location.origin.length);

	if(loc === "/") {
		document.getElementById("setupButton").classList.remove("hidden");
	} else {
		document.getElementById("setupButton").classList.add("hidden");
	}
</script>