<% include ./partials/header %>

<div class="section match">
	<div class="container">
		<div class="row">
			<div class="u-full-width">
			<% include ./partials/newcategoryform %>
			</div>
			<hr>
			<h1>Categories</h1>
			<div class="data">
				<table id="categoriesTable" class="categories u-full-width">
					<thead>
						<tr>
							<th onclick="sortTable('categoriesTable',0,'true');">Label</th>
							<th onclick="sortTable('categoriesTable',1,'true');">Relevancy</th>
						</tr>
					</thead>
					<tbody>
				 		<% for(var i = 0; i < categories.length; i++) { %>
					 		
					  			<tr>
				  					<td style="width:50%" onclick="window.location='/categories/<%= categories[i].label %>'">
				  					<%= categories[i].label %></td>
				  					<td style="width:50%">
				  						<% include ./partials/relevancyslider %>
				  						
			  						</td>
								</tr>
							<% } %>
						
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<% include ./partials/footer %>