<% include ./partials/header %>

<div class="container">
  <div class="row">
  	<div class="twelve column" style="margin-top: 5%">
			<h1>Help Yourself</h1>
    </div>
    <div class="row">
      <div class="data">
        <table id="itemsTable" class="u-full-width">
          <thead>
            <tr>
              <th onclick="sortTable('itemsTable',0,'false');">Label</th>
              <th onclick="sortTable('itemsTable',1,'false');">Effort</th>
              <th onclick="sortTable('itemsTable',2,'true');">Priority</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i = 0; i < items.length; i++) { %>
              <tr onclick="window.location='/items/<%= items[i].label %>'">
                <td style="width:50%"><%= items[i].label %></td>
                <td style="width:23%"><%= items[i].effort %></td>
                <td style="width:23%"><%= Math.floor(items[i].priority) %></td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </div> 
  	</div>
  </div>
</div>

<script>
  sortTable('itemsTable',2,'true','desc');
</script>

<% include ./partials/footer %>