<% include ./partials/header %>

<div class="container">
	<div class="row">
		<div class="u-full-width">
		<% include ./partials/newitemform %>
		</div>
	</div>

	<hr>

	<div class="row">
		<h1>Items</h1>
		
		<div class="data">
			<table id="itemsTable">
				<thead>
					<tr>
						<th onclick="sortTable('itemsTable',0,'true');">Label</th>
						<th onclick="sortTable('itemsTable',1,'true');">Category</th>
						<th onclick="sortTable('itemsTable',2,'true');">Relevance</th>
					</tr>
				</thead>
				<tbody>
			 		<% for(var i = 0; i < items.length; i++) { %>
				 		
			  			<tr>
			  				<td 
			  					style="width:50%"
			  					onclick="window.location='/items/<%= items[i].label %>'">
			  					<%= items[i].label %>
		  					</td>
							<td 
								style="width:25%"" 
								onclick="window.location='/categories/<%= items[i].category %>'">
								<%= items[i].category %>
							</td>
							<td style="width:25%"">
								<% include ./partials/relevancyslider %>
							</td>
						</tr>
						
					<% } %>
				</tbody>
			</table>
		</div>
	</div>
</div>

<% include ./partials/footer %>