<% include ./partials/header %>

<div class="section match">
	<div class="container">
		<div class="row">
			<div class="data">
				<table id="relevanciesTable" class="categories u-full-width">
					<thead>
						<tr>
							<th onclick="sortTable('relevanciesTable',0,'true');">#<i class="fas fa-filter"></i></th>
							<th onclick="sortTable('relevanciesTable',1,'true');">Label</th>
							<th onclick="sortTable('relevanciesTable',2,'true');">Relevance</th>
						</tr>
					</thead>
					<tbody>
	  					<% for(var i = 0; i < relevancies.length; i++) { %>
	  					<tr>
		  					<td onclick="window.location='/categories/<%= relevancies[i].key %>'">
		  						<%= i %>
	  						</td>
							<td onclick="window.location='/categories/<%= relevancies[i].key %>'">
								<%= relevancies[i].label %>
							</td>
							<td>
								<% include ./partials/relevancyslider %>
	  						</td>
						<% } %>
						</tr>
					</tbody>
				</table>
			</div>			
		</div>
	</div>
</div>

<% include ./partials/footer %>


    
    	    
				
				
