.hidden {
  visibility: hidden;
}

.visible {
	visibility: visible;
}

.table_cell_form {
	margin-bottom: auto;
	margin-left: auto;
	margin-top: auto;
	margin-right: auto;
}

.table_cell_form .slider {
	margin-bottom: auto;
	margin-left: auto;
	margin-top: auto;
	margin-right: auto;
}

.button-overlay {
  height:6rem;
  width:6rem;
  z-index:30000;
  border-radius: 100% 100% 100% 100%;
  /*font-size: 3rem;*/
  padding: 0px;
}

.primary {
  background-color: #33C3F0;
  border-color: #33C3F0;
}

.fixed {
  position: fixed;
}

.bottom {
  bottom: 5%;
  margin-bottom: 0;
}

.right {
  right: 5%;
  margin-right: 0;
  border-bottom-right-radius: 40% 
}

.left {
  left: 5%;
  margin-right: 0;
  border-bottom-left-radius: 40% 
}